@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Rowdies&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

:root {
    --main-blue: #00B8B3;
    --second-blue: #019692;
    --white: #ffff;
    --main-black: #090909;
    --second-black: #252525
}

/* header */
.header-container {
    width: 100%;
    height: 60px;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.item-box {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;

}

.item-nav a {
    color: #fff;
    padding: 3rem;
    text-decoration: none;
    color: var(--main-blue);
    font-size: 1.2rem;
    font-family: 'rowdies';
    transition: .3s;

}

.item-nav a:hover {
    color: var(--white);
    letter-spacing: 2px;
}

/* main */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-attachment: fixed;

}

.title-box {
    width: 600px;
    height: 600px;


}

.main-title,
.main-paragrahp,
.title-name,
.social-logos {
    position: relative;
    top: 250px;
    left: 50px;
}

.social-logos {
    width: 40px;
    height: 40px;
    margin: 2.5rem;
}

.title-name {
    color: var(--white);
    font-size: 3rem;
    font-family: 'rowdies';
    transition: .7s;
    cursor: pointer;
    margin-bottom: 10px;
}

.main-title {
    color: var(--white);
    font-size: 1.6rem;
    font-family: 'rowdies';
    transition: .7s;
    cursor: pointer;
}

.main-title:hover {
    letter-spacing: 3px;
}

.front {
    color: var(--main-blue);
    transition: .7s;
}

.main-paragrahp {
    color: #ffff;
    font-family: 'montserrat';
    font-size: 1.2rem;
    margin-top: 10px;
}

.img-box {
    width: 600px;
    height: 600px;
}

.main-img {
    width: 550px;
    height: 550px;
    position: relative;
    top: 50px;
    left: 90px;
}

/* about */
.about-container {
    width: 100%;
    height: 500px;
    background-color: #C0C0C0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.about-title {
    color: var(--second-blue);
    font-family: 'rowdies';
    font-size: 2rem;
    margin: 30px;
    font-weight: 800;
    transition: .5s;
    cursor: pointer;
}

.about-title:hover {
    color: var(--main-black);
    letter-spacing: 5px;
    border-bottom: 1px solid #000000;
}

.about-text {
    color: #000000;
    font-size: 1.2rem;
    position: relative;
    left: 95px;
    margin: 50px;
    font-family: 'montserrat';
    font-size: 1.2rem;
}

/* SKILLS  */

.skills-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
    padding-left: 50px;
}

.title-box-skill {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.skills-title {
    color: var(--white);
    font-size: 3rem;
    font-family: 'rowdies';
    transition: .3s;
}

.skills-title:hover {
    color: var(--main-blue);
    letter-spacing: 1px;
}



.skills-box {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

}

.skill-img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.skill-name {
    color: var(--main-blue);
    margin: 0 0 0 30px;
    font-family: 'montserrat';
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    transition: .3s;
    width: 100px;

}

.skill-name:hover {
    color: #fff;
    letter-spacing: 3px;
}

.span-skill {
    color: #fff;
}

.span-skill:hover {
    color: var(--main-blue);
}


.projects-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
}

.title-project-box {
    margin: 50px;

}

.project-title {
    font-family: "rowdies";
    font-size: 2rem;
    color: var(--main-blue);
    margin: 3rem 14rem;
    transition: .3s;
}

.project-title:hover {
    letter-spacing: 3px;
}


.videos {
    width: 400px;
    height: 400px;
    margin: 30px;
}